<div *ngIf="cartItems.length == 0" class="alert alert-danger" role="alert">
  Sepette ürün yok!
</div>

<div *ngIf="cartItems.length > 0">
  <table class="table">
    <tr *ngFor="let cartItem of cartItems">
      <td>{{ cartItem.product.productName }}</td>
      <td>{{ cartItem.quantity }}</td>
      <td>{{ cartItem.product.unitPrice * cartItem.quantity }}</td>
      <td>
        <button
          (click)="removeFromCart(cartItem.product)"
          class="btn btn-xs btn-danger"
        >
          Sepetten sil
        </button>
      </td>
    </tr>
  </table>

  <button hvlngSaveButton defaultColor="btn-primary" routerLink="/cartcomplete" >
    Alışverişi bitir
  </button>
</div>
