<li *ngIf="cartItems.length>0" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sepetiniz
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" *ngFor="let cartItem of cartItems">
          {{cartItem.product.productName}}<span class="badge badge-light">{{cartItem.quantity}}</span>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item">Sepete git</a>
    </div>
  </li>